<!-- <h4>Aqui ficará o menu central da home</h4> -->

<div id="cabecalho">
  <h2 class="text-center">CONTROLE DE ESTOQUE</h2>
</div>

<!-- <div class="main"> -->

  <!-- <div class="conteudo"> -->


   <div class="conteudo_centro">
      <div class="container_botoes">
        <a class="bt_centro" id="bt_consultar" routerLink="consultar">CONSULTAR</a>
        <a class="bt_centro" id="bt_cadastrar" routerLink="cadastrar">CADASTRAR</a>
        <a class="bt_centro" id="bt_entrada" routerLink="entrada">ENTRADA</a>
        <a class="bt_centro" id="bt_saida" routerLink="saida">SAÍDA</a>
      </div>
    </div>

    <!-- </div> -->



<!-- </div> -->





<!-- </div> -->
