<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h1 class="mt-2">Consultar</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-8 produto">
            <label for="formGroupExampleInput" class="form-label">Produto</label>
            <input type="text" class="form-control " id="formGroupExampleInput" placeholder="Informe o produto">
        </div>
        <div class="col-5 codigo">
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Código do Produto</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Informe o código do produto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <button type="button" class="btn btn-primary" >Confirmar</button>
            <button type="button" class="btn btn-outline-secondary" >Cancelar</button>
        </div>
    
    </div>



</div>
   