
<div class="container">
    <!-- <h4>Data da exibição da lista: {{dataAtual | date:"dd/MM/yyyy"}}</h4> -->
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <h1 class=" text-center mt-3">Lista de Produtos</h1>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <a type="button" class="btn btn-primary"  [routerLink]="['/novo-produto']">Novo Produto</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">PRODUTO</th>
                            <th scope="col">UNIDADE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of produtos">
                            <td>{{p.idProduto}}</td>
                            <td>{{p.nome}}</td>
                            <td class="text-center">{{p.siglaUnidade}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>